#decdn-button.hidden
{
 display: none;
}
#wrapper-decdn-button #decdn-button.hidden
{
 display: unset;
}

#decdn-button
{
 list-style-image: url(chrome://decdn/skin/large/idle.png);
}
#decdn-button.intercept
{
 list-style-image: url(chrome://decdn/skin/large/intercept.png);
}
#decdn-button.bypass
{
 list-style-image: url(chrome://decdn/skin/large/bypass.png);
}
#decdn-button.refresh-intercept
{
 list-style-image: url(chrome://decdn/skin/large/refresh-intercept.png);
}
#decdn-button.refresh-bypass
{
 list-style-image: url(chrome://decdn/skin/large/refresh-bypass.png);
}
#decdn-button.download
{
 list-style-image: url(chrome://decdn/skin/large/download.png);
}

toolbar[iconsize="small"] #decdn-button
{
 list-style-image: url(chrome://decdn/skin/small/idle.png);
}
toolbar[iconsize="small"] #decdn-button.intercept
{
 list-style-image: url(chrome://decdn/skin/small/intercept.png);
}
toolbar[iconsize="small"] #decdn-button.bypass
{
 list-style-image: url(chrome://decdn/skin/small/bypass.png);
}
toolbar[iconsize="small"] #decdn-button.refresh-intercept
{
 list-style-image: url(chrome://decdn/skin/small/refresh-intercept.png);
}
toolbar[iconsize="small"] #decdn-button.refresh-bypass
{
 list-style-image: url(chrome://decdn/skin/small/refresh-bypass.png);
}
toolbar[iconsize="small"] #decdn-button.download
{
 list-style-image: url(chrome://decdn/skin/small/download.png);
}

#decdn-tooltip,
#decdn-panel
{
 padding: 0;
 width: 24em;
 white-space: normal;
 word-break: normal;
 max-height: 80ex;
}
.decdn-title-hbox
{
 padding: 3px;
}
.decdn-title-icon
{
 margin: 4px;
 padding: 0;
}
.decdn-title-label
{
 font-size: 200%;
 font-family: serif;
}
#ttCDNs,
#pnlCDNs
{
 overflow-y: auto;
}

.decdn-toggle
{
 -moz-appearance: none;
 appearance: none;
 transition: all 150ms ease-in-out;
 display: inline-block;
 position: relative;
 height: calc(1.5em + 6px);
 width: calc(3em + 6px);
 border-radius: calc(1.5em + 6px);
 cursor: pointer;
 background-color: #00DD00;
 color: transparent;
}
.decdn-toggle::after
{
 transition: all 150ms ease-in-out;
 content: ' ';
 position: absolute;
 height: 1.5em;
 width: 1.5em;
 border-radius: 50%;
 background-color: #FFFFFF;
 top: 3px;
 left: 3px;
 right: auto;
 box-shadow: 1px 1px 1px #606060;
}
.bypass-toggle
{
 font-size: 80%;
 background-color: #FF8000;
}
.decdn-toggle[checked],
.decdn-toggle.bypass-checked
{
 background-color: #DD0000;
}
.bypass-toggle[checked],
.bypass-toggle.bypass-checked
{
 background-color: #0000FF;
}
.decdn-toggle[checked]::after,
.decdn-toggle.bypass-checked::after
{
 transform: translateX(calc(1.5em - 3px));
}
.decdn-toggle .checkbox-check,
.decdn-toggle .checkbox-label-box
{
 display: none;
}
.decdn-toggle[disabled],
.decdn-toggle:disabled
{
 cursor: not-allowed;
 opacity: 0.5;
}

.decdn-refresh-notice
{
 margin: 0.5em;
 margin-bottom: 0;
 padding: 0.5em;
 border: 2px solid #FFB000;
 border-image-slice: 2;
 border-image-source: repeating-linear-gradient(125deg, #000000 0px, #000000 10px, #FFB000 10px, #FFB000 20px);
 font-weight: bold;
 text-align: center;
}

.decdn-source-hbox
{
 background-color: rgba(128, 128, 128, 0.3);
 padding: 0;
 margin: 0;
}
.decdn-source-label
{
 font-weight: bold;
 font-family: monospace;
 padding: 3px;
 -moz-padding-start: 2px;
 margin: 0;
}

.decdn-resource-group
{
 cursor: pointer;
 padding: 3px;
 padding-bottom: 0;
 margin: 0;
 background-color: rgba(128, 128, 128, 0.2);
 background-position: top;
 background-size: 100% 0;
 background-repeat: no-repeat;
 background-image: linear-gradient(rgba(0, 128, 255, 0.5), transparent);
 transition: background ease-in-out 0.5s;
}
.decdn-dark .decdn-resource-group
{
 background-image: linear-gradient(rgba(0, 255, 255, 0.5), transparent);
}
.decdn-resource-group:hover
{
 background-size: 100% 12px;
 background-image: linear-gradient(rgba(0, 128, 255, 0.5), transparent);
}
.decdn-dark .decdn-resource-group:hover
{
 background-image: linear-gradient(rgba(0, 255, 255, 0.5), transparent);
}
.decdn-resource-group.twisty
{
 background-position: bottom;
 background-image: linear-gradient(transparent, rgba(0, 128, 255, 0.5));
}
.decdn-dark .decdn-resource-group.twisty
{
 background-image: linear-gradient(transparent, rgba(0, 255, 255, 0.5));
}
.decdn-resource-group.twisty:hover
{
 background-image: linear-gradient(transparent, rgba(0, 128, 255, 0.5));
}
.decdn-dark .decdn-resource-group.twisty:hover
{
 background-image: linear-gradient(transparent, rgba(0, 255, 255, 0.5));
}
.decdn-resource-group image
{
 margin: 2px;
 padding: 0;
}
.decdn-resource-group label
{
 cursor: pointer;
}
.decdn-resource-group.twisty + vbox
{
 display: none;
}

.decdn-resource-bundle
{
 padding: 3px;
 padding-bottom: 0;
 margin: 0;
 -moz-padding-start: 8px;
 background-color: rgba(32, 128, 32, 0.2);
}
.decdn-resource-bundle image
{
 margin: 2px;
 padding: 0;
}

.decdn-resource
{
 padding: 3px;
 padding-bottom: 0;
 -moz-padding-start: 28px;
 margin: 0;
}
.decdn-bundled-resource
{
 padding: 3px;
 padding-bottom: 0;
 -moz-padding-start: 32px;
 margin: 0;
 background-color: rgba(64, 128, 64, 0.15);
}
.decdn-resource-version
{
 font-style: italic;
}

.pct
{
 font-family: monospace;
 text-align: right;
 min-width: 4ch;
}

#decdn-panel button
{
 margin: 0.5em;
}
